.test-modal {
    padding: 30px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light .test-modal {
    background-color: white;
}

.dark .test-modal {
    background-color: #292929;
}

.test-modal>.button {
    width: 120px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s;
    background-color: rgb(255, 47, 47);
    color: white;
}

.test-modal>.button:hover {
    transition: background-color 0.1s;
    background-color: rgb(199, 38, 38);
}

.test-modal>h1 {
    margin: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.light .test-modal>h1 {
    color: black;
}

.dark .test-modal>h1 {
    color: white;
}