.card-container {
    /* width: 80%; */
    margin-bottom: 5%;
}

.card {
    height: 350px;
    /* width: 250px; */
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    user-select: none;
}

.light .card {
    background-color: #ffffff;
}

.dark .card {
    background-color: #1D1D1D;
    color: rgb(230, 230, 230);
}

.card-top-section {
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light .card-top-section {
    background-color: lightgray;
}

.dark .card-top-section {
    background-color: #121212;
}

.card-bottom-links img {
    height: 40px;
    width: 40px;
}

.card-bottom-links {
    display: flex;
    justify-content: space-between;
}

.user .card-edit {
    opacity: 0%;
    margin-right: 20px;
    cursor: default;
}

.admin .card-edit {
    opacity: 100%;
    margin-left: 20px;
    cursor: pointer;
}

.user .card-delete {
    opacity: 0%;
    margin-right: 20px;
    cursor: default;
}

.admin .card-delete {
    opacity: 100%;
    margin-right: 20px;
    cursor: pointer;
}

.card-link {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 126, 222);
    cursor: pointer;
}

.card-stock-text {
    font-size: 2rem;
    font-weight: bolder;
}

.light .card-stock-text {
    color: #a9a9a9;
}

.dark .card-stock-text {
    color: #2B2B2B;
}

.card-bottom-section {

    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-top: 4%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
    margin: 0;
}

.card-desc-text {
    margin-left: 5%;
    margin-right: 5%;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light .card-desc-text {
    color: rgb(40, 40, 40);
}

.dark .card-desc-text {
    color: rgb(199, 199, 199);
}