body {
    margin: 0;
    padding: 0;
}

#main-div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.light {
    transition: background-color 0.2s;
    background-color: white;
}

.dark {
    transition: background-color 0.2s;
    background-color: black;
}