body {
    margin: 0;
    padding: 0;
}

#modal-root {
    z-index: 50;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: visible;
}

#main-div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sep {
    height: 2px;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-bottom: 30px;
}

.light .sep {
    transition: background-color 0.1s;
    background-color: rgb(228, 228, 228);
}

.dark .sep {
    transition: background-color 0.1s;
    background-color: rgb(87, 87, 87);
}

#util-bar {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#util-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#util-right>* {
    margin-right: 10px;
}

#util-sep {
    display: none;
    width: 3px;
    height: 24px;
}

.light #util-sep {
    transition: background-color 0.1s;
    background-color: rgb(208, 208, 208);
}

.dark #util-sep {
    transition: background-color 0.1s;
    background-color: rgb(54, 54, 54);
}

#right-button {
    display: none;
}

#left-button {
    display: none;
}


[data-tooltip] {
    position: relative
}

[data-tooltip]::after {
    position: absolute;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 130%;
    text-align: center;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
    content: attr(data-tooltip);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    white-space: nowrap;

    visibility: hidden;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0%;
    transform: translate(-50%, 8px);
}

.light [data-tooltip]::after {
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.dark [data-tooltip]::after {
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

[data-tooltip]:hover::after {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 100%;
    transform: translate(-50%, 0);
    visibility: visible;
}

.card-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 30px;
}

#view-area {
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
}

#grid-view {
    height: 100%;
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 290px);
    grid-auto-flow: row;
    overflow-y: scroll;
    overflow-x: hidden;
}

#grid-view::-webkit-scrollbar {
    width: 8px;
}

.light #grid-view::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
}

.light #grid-view::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 40, 40, 0.5);
}

.dark #grid-view::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.5)
}

.dark #grid-view::-webkit-scrollbar-thumb:hover {
    background: rgba(105, 105, 105, 0.5);
}

/* #detailed-view {
    display: none;
} */


.light {
    transition: background-color 0.1s;
    background-color: white;
}

.dark {
    transition: background-color 0.1s;
    background-color: #242424;
}